<p>
  <strong>Title:</strong>
  <%= @article.title %>

  sadsa

  <% if @article.hero_image == "binary_data" %>
<img src="<%= url_for(:controller => "articles", 
 :action => "image_view", 
 :id => @article.id) %>" />
 
  <% end%>
   


</p>
 
 
 <%= link_to 'Back', articles_path %>
